.collapse {
    display: flex;
    justify-content: flex-end;
}

.form-inline {
    display: flex;
}

.menu-contant {
    display: none;
    position: absolute;
}

.dropdown:hover .menu-contant {
    display: block;
}