<section class="section-1">
    <div class="header">
        <h2><span>•</span>Германия</h2>
        <hr>
        <p>Туристическая информация для планирования вашей поездки по Германии.</p>
        <hr>
        <div style="background-color: rgb(201, 164, 164);">
            <p>За развлечениями и насыщенной культурной жизнью вам в Берлин.&nbsp;В плане знакомства с культурой,
                искусством
                и
                историей страны, возможностей еще больше. В Берлине есть целый «Музейный остров»&nbsp; (<a
                    href="https://www.smb.museum/en/home.html">Museumsinsel</a>) — главный туристический центр столицы
                Германии.
            </p>
            <p>⇒&nbsp;<a href="https://www.germany.travel/en/cities-culture/towns-cities.html">Towns &amp;
                    Cities</a>&nbsp;•&nbsp;<a
                    href="https://www.germany.travel/en/royal-palaces-castles/overview.html">Royal
                    Palaces &amp;
                    Castles</a>&nbsp;•&nbsp;<a
                    href="https://www.germany.travel/en/nature-outdoor-activities/hiking.html">Hiking</a>
            </p>
            <p>Германия хорошо известна как место оздоровительного туризма, причем многие из курортов возникли на
                горячих
                источниках. Крупнейшие и известнейшие курорты: Бад Висзее (<a
                    href="http://gemeinde.bad-wiessee.de/de/startseite/">Bad Wiessee</a>), Баден-Баден (<a
                    href="https://visit.baden-baden.de/en/">Baden-Baden</a>), Висбаден (<a
                    href="https://www.wiesbaden.de/en/">Wiesbaden</a>), Ахен (<a
                    href="http://www.aachen.de/">Aachen</a>),
                Травемюнде (<a href="http://www.travemuende-tourism.de/">Travemünde</a>) и Вестерланд (<a
                    href="https://www.insel-sylt.de/westerland/">Westerland</a>).
            </p>
            <p>По всей Германии проходит около <a
                    href="http://www.germany.travel/ru/leisure-and-recreation/scenic-routes/scenic-routes.html"
                    target="_blank" rel="noopener noreferrer">150 Тематических маршрутов</a> (возможно уже больше).
                Многие
                из них, что естественно,
                всего лишь бизнес для туристической индустрии, но есть действительно интересные. Если ищете клише, то <a
                    href="https://www.romantischestrasse.de/">Романтическая дорога</a> (Romantische Straße), знаменитый
                живописный
                маршрут вдоль замков и живописных деревень, будет идеальна.
            </p>
            <p>Если вам нравятся серьёзные пешие прогулки, то обратите внимание на маршруты <a
                    href="https://www.rheinsteig.de/en/rheinsteig">Rheinsteig</a>&nbsp;и <a
                    href="https://www.rheinburgenweg.com/rheinburgenweg">RheinBurgenWeg</a>.
            </p>
            <p>Маршрут <a href="https://www.rheinsteig.de/en/rheinsteig">Rheinsteig</a> следует в основном по
                возвышенностям
                <strong>правого</strong> (восточного) берега реки Средний Рейн. Общая протяженность — 320 км (200 миль).
                Старт в
                городе <a href="https://www.germany.travel/en/cities-culture/wiesbaden.html">Wiesbaden</a> (<a
                    href="https://www.google.com/maps/place/Biebrich+Palace/@50.0374139,8.2319085,17z/data=!3m1!4b1!4m5!3m4!1s0x47bd960d1b00407f:0x652e94e96b5777b8!8m2!3d50.0374105!4d8.2340972?">карта</a>)
                до *<a href="https://en.wikivoyage.org/wiki/Bonn">Bonn</a>. Хотя он проходит через одно из самых
                популярных
                туристических направлений в Европе, вы сможете отдохнуть от толп людей и городской суеты
            </p>
            <p>Маршрут <a href="https://www.rheinburgenweg.com/rheinburgenweg">RheinBurgenWeg</a> является одним из
                самых
                красивых
                пешеходных маршрутов Германии. Маршрут протянулся по левому берегу на 200 км и проведет вас по
                уникальному
                культурному ландшафту Долины Верхнего Среднего Рейна (<a
                    href="https://whc.unesco.org/en/list/1066/">объект
                    ЮНЕСКО</a>).
            </p>
        </div>
    </div>
    <div>
        <button>Туристический сайт</button>
    </div>
</section>