<!-- <section>
    <div class="titleBox">
        <h3 class="title-heading-center">Туристический справочник</h3>
    </div>
    <div class="serch">
        <label>
            <input type="search" class="s fusion-live-search-input" name="s" id="fusion-live-search-input-3"
                autocomplete="off" placeholder="я ищу..." required="" aria-required="true" aria-label="я ищу...">
        </label>
    </div>
    <div class="fusion-text fusion-text-1">
        <p>Мы делаем поиск туристической информации таким же простым, как бронирование отелей и авиабилетов.</p>
    </div>
</section> -->